.mainWrapper {
  background-color: #f9f9f9;
  height: auto;
}

.rowWrapper {
  display: flex;
  justify-content: center;
}

.techStackHeader {
  margin: auto 0px;
  display: flex;
}

.logoList {
  display: flex;
  padding-left: 0px;

  .logoItem {
    list-style: none;
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
  }

  .tailwind {
    padding-top: 18px;
  }
}
